.login {
    display: grid;
    place-items: center;
    height: 100vh;
}
.login div img {
    object-fit: contain;
    height: 150px;
}

.login h1 {
  text-align: center;
  color:#451684;
  margin-top: 20px;
}

.login div {
    display: flex;
    flex-direction: column;
}
.login button {
    width: 300px;
    background-color: #451684;
    color: #eff2f5;
    font-weight: 800;
}
.login button:hover {
    background-color: white;
    color: #451684;
}
/* Login Page */

#login-page {
    background-image: linear-gradient(#40a9ff, #096dd9);
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
  }
  
  #login-card {
    position: relative;
    top: calc(50vh - 144px);
    left: calc(50vw - 210px);
    padding-top: 36px;
    padding-bottom: 66px;
    width: 420px;
    text-align: center;
    background-color: white;
    border-radius: 22px;
  }
  
  .login-button {
    cursor: pointer;
    color: white;
    padding: 12px;
    border-radius: 8px;
    display: inline-block;
  }
  
  .facebook {
    background-color: #3b5998;
  }
  
  .google {
    background-color: #4285f4;
    color: white;
  }
  
  #loading-container {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgb(255, 255, 255, 0.22);
  }
  
  #loading-icon {
    font-size: 66px;
    position: relative;
    left: calc(50vw - 33px);
    top: calc(50vh - 22px);
  }
  
